*, ::after, ::before {
  box-sizing: border-box;
}

.container1 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0 15px;
}

.window1 {
  width: 280px;
  height: 250px;
}

.window2 {
  width: 280px;
  height: 250px;
}

.win-box1 {
  position: relative;
  padding: 4px;
  border: 0.3px solid #888888;
  width: 241px;
  height: 226px;
  margin: 0 auto;
  background-size: 300px;
}

.win-box-white {
  background: #fff;
}

.win-box-dub1 {
  background-image: url("../images/BackgroundCat1.png");
}

.win-box-mokko1 {
  background-image: url("../images/Mokko.png");
}

.win-box-iron1 {
  background-image: url("../images/iron.png");
}

.list-box1 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  border: 0.3px solid #888888;
}
.list-box1::after {
  content: "";
  display: block;
  position: absolute;
  width: 9px;
  bottom: 3px;
  left: -1.5px;
  transform: rotateZ(-45deg);
  height: 0.3px;
  background: #888888;
}
.list-box1::before {
  content: "";
  display: block;
  position: absolute;
  width: 9px;
  bottom: 3px;
  right: -1.5px;
  transform: rotateZ(45deg);
  height: 0.3px;
  background: #888888;
}

.list1 {
  display: flex;
  justify-content: space-between;
}
.list1::after {
  content: "";
  display: block;
  position: absolute;
  width: 6px;
  top: 2px;
  left: -1px;
  transform: rotateZ(45deg);
  height: 0.3px;
  background: #888888;
}
.list1::before {
  content: "";
  display: block;
  position: absolute;
  width: 6px;
  top: 2px;
  right: -1px;
  transform: rotateZ(-45deg);
  height: 0.3px;
  background: #888888;
}

.list-item-side1 {
  position: relative;
  width: 49%;
  height: 100%;
  padding: 3px;
  border: 0.3px solid #888888;
  border-bottom: 0;
  border-top: 0;
}
.list-item-side1::after {
  content: "";
  display: block;
  position: absolute;
  width: 4.5px;
  top: 1.5px;
  right: -0.5px;
  transform: rotateZ(-45deg);
  height: 0.3px;
  background: #888888;
}
.list-item-side1::before {
  content: "";
  display: block;
  position: absolute;
  width: 4.5px;
  top: 1.5px;
  left: -0.5px;
  transform: rotateZ(45deg);
  height: 0.3px;
  background: #888888;
}
.list-item-side1 > div {
  width: 100%;
  height: 100%;
  border: 0.3px solid #888888;
  background-image: repeating-linear-gradient(135deg, #DCF0FB, #b2dff1 15%, #DCF0FB 35%);
}
.list-item-side1 > div::after {
  content: "";
  display: block;
  position: absolute;
  width: 4.5px;
  bottom: 1.5px;
  right: -0.8px;
  transform: rotateZ(45deg);
  height: 0.3px;
  background: #888888;
}
.list-item-side1 > div::before {
  content: "";
  display: block;
  position: absolute;
  width: 4.5px;
  bottom: 1.5px;
  left: -0.8px;
  transform: rotateZ(-45deg);
  height: 0.3px;
  background: #888888;
}
.list-item-side1:nth-child(2) {
  left: -2px;
  border-left: none;
}
.list-item-side1:nth-child(3) {
  padding: 6px;
  border-right: none;
}
.list-item-side1:nth-child(3)::after {
  content: "";
  display: block;
  position: absolute;
  width: 9px;
  top: 3px;
  right: -1.5px;
  transform: rotateZ(-45deg);
  height: 0.3px;
  background: #888888;
}
.list-item-side1:nth-child(3)::before {
  content: "";
  display: block;
  position: absolute;
  width: 9px;
  top: 3px;
  left: -1.5px;
  transform: rotateZ(45deg);
  height: 0.3px;
  background: #888888;
}
.list-item-side1:nth-child(3) > div::after {
  content: "";
  display: block;
  position: absolute;
  width: 9px;
  bottom: 3px;
  right: -1.5px;
  transform: rotateZ(45deg);
  height: 0.3px;
  background: #888888;
}
.list-item-side1:nth-child(3) > div::before {
  content: "";
  display: block;
  position: absolute;
  width: 9px;
  bottom: 3px;
  left: -1.5px;
  transform: rotateZ(-45deg);
  height: 0.3px;
  background: #888888;
}

.list-item-side11 {
  transform: rotate(180deg);
  position: relative;
  width: 49%;
  height: 100%;
  padding: 3px;
  border: 0.3px solid #888888;
  border-bottom: 0;
  border-top: 0;
}
.list-item-side11::after {
  content: "";
  display: block;
  position: absolute;
  width: 4.5px;
  top: 1.5px;
  right: -0.5px;
  transform: rotateZ(-45deg);
  height: 0.3px;
  background: #888888;
}
.list-item-side11::before {
  content: "";
  display: block;
  position: absolute;
  width: 4.5px;
  top: 1.5px;
  left: -0.5px;
  transform: rotateZ(45deg);
  height: 0.3px;
  background: #888888;
}
.list-item-side11 > div {
  width: 100%;
  height: 100%;
  border: 0.3px solid #888888;
  background-image: repeating-linear-gradient(135deg, #DCF0FB, #b2dff1 15%, #DCF0FB 35%);
}
.list-item-side11 > div::after {
  content: "";
  display: block;
  position: absolute;
  width: 4.5px;
  bottom: 1.5px;
  right: -0.8px;
  transform: rotateZ(45deg);
  height: 0.3px;
  background: #888888;
}
.list-item-side11 > div::before {
  content: "";
  display: block;
  position: absolute;
  width: 4.5px;
  bottom: 1.5px;
  left: -0.8px;
  transform: rotateZ(-45deg);
  height: 0.3px;
  background: #888888;
}
.list-item-side11:nth-child(2) {
  left: -2px;
  border-left: none;
}
.list-item-side11:nth-child(3) {
  padding: 6px;
  border-right: none;
}
.list-item-side11:nth-child(3)::after {
  content: "";
  display: block;
  position: absolute;
  width: 9px;
  top: 3px;
  right: -1.5px;
  transform: rotateZ(-45deg);
  height: 0.3px;
  background: #888888;
}
.list-item-side11:nth-child(3)::before {
  content: "";
  display: block;
  position: absolute;
  width: 9px;
  top: 3px;
  left: -1.5px;
  transform: rotateZ(45deg);
  height: 0.3px;
  background: #888888;
}
.list-item-side11:nth-child(3) > div::after {
  content: "";
  display: block;
  position: absolute;
  width: 9px;
  bottom: 3px;
  right: -1.5px;
  transform: rotateZ(45deg);
  height: 0.3px;
  background: #888888;
}
.list-item-side11:nth-child(3) > div::before {
  content: "";
  display: block;
  position: absolute;
  width: 9px;
  bottom: 3px;
  left: -1.5px;
  transform: rotateZ(-45deg);
  height: 0.3px;
  background: #888888;
}

.list-item__detail {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0px;
  display: inline-block;
  width: 5px;
  height: 15px;
  border-radius: 1px;
  background: #888888;
}
.list-item__detail::after {
  content: "";
  display: block;
  position: absolute;
  width: 2.5px;
  height: 11px;
  background: #888888;
  left: 50%;
  border-radius: 2px;
  transform: translateX(-50%);
  top: 10px;
}

.list-item__detail11 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0px;
  display: inline-block;
  width: 5px;
  height: 15px;
  border-radius: 1px;
  background: #888888;
}
.list-item__detail11::after {
  content: "";
  display: block;
  position: absolute;
  width: 2.5px;
  height: 11px;
  background: #888888;
  left: 50%;
  border-radius: 2px;
  transform: translateX(-50%);
  top: -10px;
}

.list-item-detailside::after {
  content: "";
  display: block;
  position: absolute;
  width: 3px;
  height: 7px;
  bottom: 15%;
  right: -2px;
  border-radius: 0.5px;
  background: #888888;
}
.list-item-detailside::before {
  content: "";
  display: block;
  position: absolute;
  width: 3px;
  height: 7px;
  bottom: 19%;
  right: -2px;
  border-radius: 0.5px;
  background: #888888;
}
.list-item-detailside:nth-child(2)::after {
  content: "";
  display: block;
  position: absolute;
  width: 3px;
  height: 7px;
  top: 15%;
  right: -2px;
  border-radius: 0.5px;
  background: #888888;
}
.list-item-detailside:nth-child(2)::before {
  content: "";
  display: block;
  position: absolute;
  width: 3px;
  height: 7px;
  top: 19%;
  right: -2px;
  border-radius: 0.5px;
  background: #888888;
}

.list-box {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  border: 0.3px solid #888888;
  flex-direction: row-reverse;
}
.list-box::after {
  content: "";
  display: block;
  position: absolute;
  width: 9px;
  bottom: 3px;
  left: -1.5px;
  transform: rotateZ(-45deg);
  height: 0.3px;
  background: #888888;
}
.list-box::before {
  content: "";
  display: block;
  position: absolute;
  width: 9px;
  bottom: 3px;
  right: -1.5px;
  transform: rotateZ(45deg);
  height: 0.3px;
  background: #888888;
}

.list {
  display: flex;
  justify-content: space-between;
}
.list::after {
  content: "";
  display: block;
  position: absolute;
  width: 6px;
  top: 2px;
  left: -1px;
  transform: rotateZ(45deg);
  height: 0.3px;
  background: #888888;
}
.list::before {
  content: "";
  display: block;
  position: absolute;
  width: 6px;
  top: 2px;
  right: -1px;
  transform: rotateZ(-45deg);
  height: 0.3px;
  background: #888888;
}

.list-item__detail {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0px;
  display: inline-block;
  width: 5px;
  height: 15px;
  border-radius: 1px;
  background: #888888;
}
.list-item__detail::after {
  content: "";
  display: block;
  position: absolute;
  width: 2.5px;
  height: 11px;
  background: #888888;
  left: 50%;
  border-radius: 2px;
  transform: translateX(-50%);
  top: 10px;
}

.win-box-dub2 {
  background-image: url("../images/dub2.png");
}

.win-box-mokko2 {
  background-image: url("../images/Mokko2.png");
}

.win-box-iron2 {
  background-image: url("../images/iron2.png");
}

.win-box2 {
  position: relative;
  padding: 4px;
  border: 0.3px solid #888888;
  width: 241px;
  height: 226px;
  margin: 0 auto;
  background-size: 300px;
}

.list-box2 {
  width: 100%;
  height: 100%;
  border: 0.3px solid #888888;
}
.list-box2::after {
  content: "";
  display: block;
  position: absolute;
  width: 9px;
  bottom: 3px;
  left: -1.5px;
  transform: rotateZ(-45deg);
  height: 0.3px;
  background: #888888;
}
.list-box2::before {
  content: "";
  display: block;
  position: absolute;
  width: 9px;
  bottom: 3px;
  right: -1.5px;
  transform: rotateZ(45deg);
  height: 0.3px;
  background: #888888;
}

.list2 {
  display: flex;
  justify-content: space-between;
}
.list2::after {
  content: "";
  display: block;
  position: absolute;
  width: 6px;
  top: 2px;
  left: -1px;
  transform: rotateZ(45deg);
  height: 0.3px;
  background: #888888;
}
.list2::before {
  content: "";
  display: block;
  position: absolute;
  width: 6px;
  top: 2px;
  right: -1px;
  transform: rotateZ(-45deg);
  height: 0.3px;
  background: #888888;
}

.list-item-top2 {
  position: relative;
  width: 113px;
  height: 54px;
  padding: 2px;
  border: 0.3px solid #888888;
  border-top: none;
}
.list-item-top2:nth-child(1) {
  border-left: none;
}
.list-item-top2:nth-child(2) {
  border-right: none;
}
.list-item-top2 > div {
  width: 100%;
  height: 100%;
  border: 0.3px solid #888888;
  background-image: repeating-linear-gradient(135deg, #DCF0FB, #b2dff1 15%, #DCF0FB 35%);
}
.list-item-top2 > div::after {
  content: "";
  display: block;
  position: absolute;
  width: 3px;
  bottom: 1px;
  left: -0.5px;
  transform: rotateZ(-45deg);
  height: 0.3px;
  background: #888888;
}
.list-item-top2 > div::before {
  content: "";
  display: block;
  position: absolute;
  width: 3px;
  bottom: 1px;
  right: -0.5px;
  transform: rotateZ(45deg);
  height: 0.3px;
  background: #888888;
}
.list-item-top2::before {
  content: "";
  display: block;
  position: absolute;
  width: 4px;
  top: 1px;
  left: -1px;
  transform: rotateZ(45deg);
  height: 0.3px;
  background: #888888;
}
.list-item-top2::after {
  content: "";
  display: block;
  position: absolute;
  width: 4px;
  top: 1px;
  right: -1px;
  transform: rotateZ(-45deg);
  height: 0.3px;
  background: #888888;
}

.list-bottom2 {
  display: flex;
  justify-content: space-between;
}

.list-item-center2 {
  position: relative;
  z-index: 0;
  width: 77px;
  height: 158px;
  border: 0.3px solid #888888;
  margin-top: 5px;
}
.list-item-center2::after {
  content: "";
  display: block;
  position: absolute;
  width: 18px;
  top: 6px;
  left: -2.7px;
  transform: rotateZ(45deg);
  height: 0.3px;
  background: #888888;
}
.list-item-center2::before {
  content: "";
  display: block;
  position: absolute;
  width: 18px;
  top: 6px;
  right: -2.7px;
  transform: rotateZ(-45deg);
  height: 0.3px;
  background: #888888;
}
.list-item-center2 > div {
  position: absolute;
  z-index: 2;
  top: 6px;
  left: 6px;
  right: 6px;
  bottom: 6px;
  padding: 3px;
  border: 0.3px solid #888888;
}
.list-item-center2 > div::after {
  content: "";
  display: block;
  position: absolute;
  width: 15px;
  bottom: -1px;
  left: -9px;
  transform: rotateZ(-45deg);
  height: 0.3px;
  background: #888888;
}
.list-item-center2 > div::before {
  content: "";
  display: block;
  position: absolute;
  width: 15px;
  bottom: -1px;
  right: -9px;
  transform: rotateZ(45deg);
  height: 0.3px;
  background: #888888;
}

.list-item-center22 {
  transform: rotate(180deg);
  position: relative;
  z-index: 0;
  width: 77px;
  height: 158px;
  border: 0.3px solid #888888;
  margin-top: 5px;
}
.list-item-center22::after {
  content: "";
  display: block;
  position: absolute;
  width: 18px;
  top: 6px;
  left: -2.7px;
  transform: rotateZ(45deg);
  height: 0.3px;
  background: #888888;
}
.list-item-center22::before {
  content: "";
  display: block;
  position: absolute;
  width: 18px;
  top: 6px;
  right: -2.7px;
  transform: rotateZ(-45deg);
  height: 0.3px;
  background: #888888;
}
.list-item-center22 > div {
  position: absolute;
  z-index: 2;
  top: 6px;
  left: 6px;
  right: 6px;
  bottom: 6px;
  padding: 3px;
  border: 0.3px solid #888888;
}
.list-item-center22 > div::after {
  content: "";
  display: block;
  position: absolute;
  width: 15px;
  bottom: -1px;
  left: -9px;
  transform: rotateZ(-45deg);
  height: 0.3px;
  background: #888888;
}
.list-item-center22 > div::before {
  content: "";
  display: block;
  position: absolute;
  width: 15px;
  bottom: -1px;
  right: -9px;
  transform: rotateZ(45deg);
  height: 0.3px;
  background: #888888;
}

.list-item-middle2 {
  position: absolute;
  z-index: 3;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  padding: 2px;
  border: 0.2px solid #888888;
  background-image: repeating-linear-gradient(135deg, #DCF0FB, #b2dff1 15%, #DCF0FB 35%);
}
.list-item-middle2::after {
  content: "";
  display: block;
  position: absolute;
  width: 3px;
  height: 7px;
  top: 14%;
  right: -2px;
  border-radius: 0.5px;
  background: #888888;
}
.list-item-middle2::before {
  content: "";
  display: block;
  position: absolute;
  width: 3px;
  height: 7px;
  top: 20%;
  right: -2px;
  border-radius: 0.5px;
  background: #888888;
}

.list-item-detail {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -10px;
  display: inline-block;
  width: 5px;
  height: 15px;
  border-radius: 1px;
  background: #888888;
}
.list-item-detail::after {
  content: "";
  display: block;
  position: absolute;
  width: 2.5px;
  height: 11px;
  background: #888888;
  left: 50%;
  border-radius: 2px;
  transform: translateX(-50%);
  top: 10px;
}

.list-item-detail22 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -10px;
  display: inline-block;
  width: 5px;
  height: 15px;
  border-radius: 1px;
  background: #888888;
}
.list-item-detail22::after {
  content: "";
  display: block;
  position: absolute;
  width: 2.5px;
  height: 11px;
  background: #888888;
  left: 50%;
  border-radius: 2px;
  transform: translateX(-50%);
  top: -10px;
}

.list-item-detail-left::after {
  content: "";
  display: block;
  position: absolute;
  width: 3px;
  height: 7px;
  bottom: 20%;
  right: -2px;
  border-radius: 0.5px;
  background: #888888;
}
.list-item-detail-left::before {
  content: "";
  display: block;
  position: absolute;
  width: 3px;
  height: 7px;
  bottom: 14%;
  right: -2px;
  border-radius: 0.5px;
  background: #888888;
}

.list-item-side2 {
  position: relative;
  width: 71px;
  height: 157px;
  padding: 3px;
  margin-top: 5px;
  border: 0.3px solid #888888;
}
.list-item-side2::after {
  content: "";
  display: block;
  position: absolute;
  width: 4.5px;
  top: 1.7px;
  right: -0.5px;
  transform: rotateZ(-45deg);
  height: 0.3px;
  background: #888888;
}
.list-item-side2::before {
  content: "";
  display: block;
  position: absolute;
  width: 4.5px;
  top: 1.4px;
  left: -0.5px;
  transform: rotateZ(45deg);
  height: 0.3px;
  background: #888888;
}
.list-item-side2 > div {
  width: 100%;
  height: 100%;
  border: 0.3px solid #888888;
  background-image: repeating-linear-gradient(135deg, #DCF0FB, #b2dff1 15%, #DCF0FB 35%);
}
.list-item-side2 > div::after {
  content: "";
  display: block;
  position: absolute;
  width: 4.5px;
  bottom: 1.5px;
  right: -0.8px;
  transform: rotateZ(45deg);
  height: 0.3px;
  background: #888888;
}
.list-item-side2 > div::before {
  content: "";
  display: block;
  position: absolute;
  width: 4.5px;
  bottom: 1.4px;
  left: -0.8px;
  transform: rotateZ(-45deg);
  height: 0.3px;
  background: #888888;
}
.list-item-side2:nth-child(1) {
  border-left: none;
}
.list-item-side2:nth-child(3) {
  border-right: none;
}

.win-box2 {
  position: relative;
  padding: 4px;
  border: 0.3px solid #888888;
  width: 241px;
  height: 226px;
  margin: 0 auto;
  background-size: 300px;
}

.list-box23 {
  width: 100%;
  height: 100%;
  border: 0.3px solid #888888;
}
.list-box23::after {
  content: "";
  display: block;
  position: absolute;
  width: 9px;
  bottom: 3px;
  left: -1.5px;
  transform: rotateZ(-45deg);
  height: 0.3px;
  background: #888888;
}
.list-box23::before {
  content: "";
  display: block;
  position: absolute;
  width: 9px;
  bottom: 3px;
  right: -1.5px;
  transform: rotateZ(45deg);
  height: 0.3px;
  background: #888888;
}

.list23 {
  display: flex;
  justify-content: space-between;
}
.list23::after {
  content: "";
  display: block;
  position: absolute;
  width: 6px;
  top: 2px;
  left: -1px;
  transform: rotateZ(45deg);
  height: 0.3px;
  background: #888888;
}
.list23::before {
  content: "";
  display: block;
  position: absolute;
  width: 6px;
  top: 2px;
  right: -1px;
  transform: rotateZ(-45deg);
  height: 0.3px;
  background: #888888;
}

.list-item-top23 {
  position: relative;
  width: 113px;
  height: 54px;
  padding: 2px;
  border: 0.3px solid #888888;
  border-top: none;
}
.list-item-top23:nth-child(1) {
  border-left: none;
}
.list-item-top23:nth-child(2) {
  border-right: none;
}
.list-item-top23 > div {
  width: 100%;
  height: 100%;
  border: 0.3px solid #888888;
  background-image: repeating-linear-gradient(135deg, #DCF0FB, #b2dff1 15%, #DCF0FB 35%);
}
.list-item-top23 > div::after {
  content: "";
  display: block;
  position: absolute;
  width: 3px;
  bottom: 1px;
  left: -0.5px;
  transform: rotateZ(-45deg);
  height: 0.3px;
  background: #888888;
}
.list-item-top23 > div::before {
  content: "";
  display: block;
  position: absolute;
  width: 3px;
  bottom: 1px;
  right: -0.5px;
  transform: rotateZ(45deg);
  height: 0.3px;
  background: #888888;
}
.list-item-top23::before {
  content: "";
  display: block;
  position: absolute;
  width: 4px;
  top: 1px;
  left: -1px;
  transform: rotateZ(45deg);
  height: 0.3px;
  background: #888888;
}
.list-item-top23::after {
  content: "";
  display: block;
  position: absolute;
  width: 4px;
  top: 1px;
  right: -1px;
  transform: rotateZ(-45deg);
  height: 0.3px;
  background: #888888;
}

.list-bottom23 {
  display: flex;
  justify-content: space-between;
}

.list-item-center23 {
  position: relative;
  z-index: 0;
  width: 77px;
  height: 158px;
  border: 0.3px solid #888888;
  border-bottom: none;
  margin-top: 5px;
  border-left: none;
}
.list-item-center23:nth-child(3) {
  border: 0.3px solid #888888;
  border-bottom: none;
  border-right: none;
}
.list-item-center23::after {
  content: "";
  display: block;
  position: absolute;
  width: 18px;
  top: 6px;
  left: -2.7px;
  transform: rotateZ(45deg);
  height: 0.3px;
  background: #888888;
}
.list-item-center23::before {
  content: "";
  display: block;
  position: absolute;
  width: 18px;
  top: 6px;
  right: -2.7px;
  transform: rotateZ(-45deg);
  height: 0.3px;
  background: #888888;
}
.list-item-center23 > div {
  position: absolute;
  z-index: 2;
  top: 6px;
  left: 6px;
  right: 6px;
  bottom: 6px;
  padding: 3px;
  border: 0.3px solid #888888;
}
.list-item-center23 > div::after {
  content: "";
  display: block;
  position: absolute;
  width: 15px;
  bottom: -1px;
  left: -9px;
  transform: rotateZ(-45deg);
  height: 0.3px;
  background: #888888;
}
.list-item-center23 > div::before {
  content: "";
  display: block;
  position: absolute;
  width: 15px;
  bottom: -1px;
  right: -9px;
  transform: rotateZ(45deg);
  height: 0.3px;
  background: #888888;
}

.list-item-left23 {
  position: absolute;
  z-index: 3;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  padding: 2px;
  border: 0.2px solid #888888;
  background-image: repeating-linear-gradient(135deg, #DCF0FB, #b2dff1 15%, #DCF0FB 35%);
}
.list-item-left23::after {
  content: "";
  display: block;
  position: absolute;
  width: 3px;
  height: 7px;
  top: 14%;
  left: -2px;
  border-radius: 0.5px;
  background: #888888;
}
.list-item-left23::before {
  content: "";
  display: block;
  position: absolute;
  width: 3px;
  height: 7px;
  top: 20%;
  left: -2px;
  border-radius: 0.5px;
  background: #888888;
}
.list-item-left23 .list-item-detail23 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -10px;
  display: inline-block;
  width: 5px;
  height: 15px;
  border-radius: 1px;
  background: #888888;
}
.list-item-left23 .list-item-detail23::after {
  content: "";
  display: block;
  position: absolute;
  width: 2.5px;
  height: 11px;
  background: #888888;
  left: 50%;
  border-radius: 2px;
  transform: translateX(-50%);
  top: 10px;
}
.list-item-left23 .list-item-detail-left23::after {
  content: "";
  display: block;
  position: absolute;
  width: 3px;
  height: 7px;
  bottom: 20%;
  left: -2px;
  border-radius: 0.5px;
  background: #888888;
}
.list-item-left23 .list-item-detail-left23::before {
  content: "";
  display: block;
  position: absolute;
  width: 3px;
  height: 7px;
  bottom: 14%;
  left: -2px;
  border-radius: 0.5px;
  background: #888888;
}

.list-item-right23 {
  position: absolute;
  z-index: 3;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  padding: 2px;
  border: 0.2px solid #888888;
  background-image: repeating-linear-gradient(135deg, #DCF0FB, #b2dff1 15%, #DCF0FB 35%);
}
.list-item-right23::after {
  content: "";
  display: block;
  position: absolute;
  width: 3px;
  height: 7px;
  top: 14%;
  right: -2px;
  border-radius: 0.5px;
  background: #888888;
}
.list-item-right23::before {
  content: "";
  display: block;
  position: absolute;
  width: 3px;
  height: 7px;
  top: 20%;
  right: -2px;
  border-radius: 0.5px;
  background: #888888;
}
.list-item-right23 .list-item-detail23 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -10px;
  display: inline-block;
  width: 5px;
  height: 15px;
  border-radius: 1px;
  background: #888888;
}
.list-item-right23 .list-item-detail23::after {
  content: "";
  display: block;
  position: absolute;
  width: 2.5px;
  height: 11px;
  background: #888888;
  left: 50%;
  border-radius: 2px;
  transform: translateX(-50%);
  top: 10px;
}
.list-item-right23 .list-item-detail-left23::after {
  content: "";
  display: block;
  position: absolute;
  width: 3px;
  height: 7px;
  bottom: 20%;
  right: -2px;
  border-radius: 0.5px;
  background: #888888;
}
.list-item-right23 .list-item-detail-left23::before {
  content: "";
  display: block;
  position: absolute;
  width: 3px;
  height: 7px;
  bottom: 14%;
  right: -2px;
  border-radius: 0.5px;
  background: #888888;
}

.list-item-side23 {
  position: relative;
  width: 71px;
  height: 157px;
  padding: 3px;
  margin-top: 5px;
  border: 0.3px solid #888888;
}
.list-item-side23::after {
  content: "";
  display: block;
  position: absolute;
  width: 4.5px;
  top: 1.7px;
  right: -0.5px;
  transform: rotateZ(-45deg);
  height: 0.3px;
  background: #888888;
}
.list-item-side23::before {
  content: "";
  display: block;
  position: absolute;
  width: 4.5px;
  top: 1.4px;
  left: -0.5px;
  transform: rotateZ(45deg);
  height: 0.3px;
  background: #888888;
}
.list-item-side23 > div {
  width: 100%;
  height: 100%;
  border: 0.3px solid #888888;
  background-image: repeating-linear-gradient(135deg, #DCF0FB, #b2dff1 15%, #DCF0FB 35%);
}
.list-item-side23 > div::after {
  content: "";
  display: block;
  position: absolute;
  width: 4.5px;
  bottom: 1.5px;
  right: -0.8px;
  transform: rotateZ(45deg);
  height: 0.3px;
  background: #888888;
}
.list-item-side23 > div::before {
  content: "";
  display: block;
  position: absolute;
  width: 4.5px;
  bottom: 1.4px;
  left: -0.8px;
  transform: rotateZ(-45deg);
  height: 0.3px;
  background: #888888;
}
.list-item-side23:nth-child(1) {
  border-left: none;
}
.list-item-side23:nth-child(3) {
  border-right: none;
}

.win-box3 {
  position: relative;
  margin: 0 auto;
  width: 254px;
  height: 271px;
  padding: 4px;
  border: 0.3px solid #888888;
  background: #fff;
}
.win-box3::after {
  content: "";
  display: block;
  position: absolute;
  width: 6px;
  top: 2px;
  left: -1px;
  transform: rotateZ(45deg);
  height: 0.3px;
  background: #888888;
}
.win-box3::before {
  content: "";
  display: block;
  position: absolute;
  width: 6px;
  top: 2px;
  right: -1px;
  transform: rotateZ(-45deg);
  height: 0.3px;
  background: #888888;
}
.win-box3 .list__box {
  position: relative;
  width: 100%;
  height: 100%;
  border: 0.3px solid #888888;
  display: flex;
  justify-content: space-between;
}
.win-box3 .list__box::after {
  content: "";
  display: block;
  position: absolute;
  width: 6px;
  bottom: -2px;
  left: -5px;
  transform: rotateZ(-45deg);
  height: 0.3px;
  background: #888888;
}
.win-box3 .list__box::before {
  content: "";
  display: block;
  position: absolute;
  width: 6px;
  bottom: -2px;
  right: -5px;
  transform: rotateZ(45deg);
  height: 0.3px;
  background: #888888;
}

.win-box-dub3 {
  background-size: 100%;
  background-image: url("../images/dub3.png");
}

.win-box-mokko3 {
  background-size: 20%;
  background-image: url("../images/mokko3.png");
}

.win-box-iron3 {
  background-size: 100%;
  background-image: url("../images/iron3.png");
}

.list-item__left {
  position: relative;
  width: 77px;
  padding: 3px;
  border: 0.3px solid #888888;
  border-left: none;
  border-bottom: none;
  border-top: none;
}
.list-item__left::after {
  content: "";
  display: block;
  position: absolute;
  width: 4.5px;
  top: 1.7px;
  right: -0.5px;
  transform: rotateZ(-45deg);
  height: 0.3px;
  background: #888888;
}
.list-item__left::before {
  content: "";
  display: block;
  position: absolute;
  width: 4.5px;
  top: 1.4px;
  left: -0.5px;
  transform: rotateZ(45deg);
  height: 0.3px;
  background: #888888;
}

.list-item__left > div {
  width: 100%;
  height: 100%;
  border: 0.3px solid #888888;
  background-image: repeating-linear-gradient(135deg, #DCF0FB, #b2dff1 15%, #DCF0FB 35%);
}
.list-item__left > div::after {
  content: "";
  display: block;
  position: absolute;
  width: 4.5px;
  bottom: 1.5px;
  right: -0.8px;
  transform: rotateZ(45deg);
  height: 0.3px;
  background: #888888;
}
.list-item__left > div::before {
  content: "";
  display: block;
  position: absolute;
  width: 4.5px;
  bottom: 1.4px;
  left: -0.8px;
  transform: rotateZ(-45deg);
  height: 0.3px;
  background: #888888;
}

.list-item__right {
  position: relative;
  width: 77px;
  padding: 3px;
  border: 0.3px solid #888888;
  border-right: none;
  border-top: none;
  border-bottom: none;
}
.list-item__right::after {
  content: "";
  display: block;
  position: absolute;
  width: 4.5px;
  top: 1.7px;
  right: -0.5px;
  transform: rotateZ(-45deg);
  height: 0.3px;
  background: #888888;
}
.list-item__right::before {
  content: "";
  display: block;
  position: absolute;
  width: 4.5px;
  top: 1.4px;
  left: -0.5px;
  transform: rotateZ(45deg);
  height: 0.3px;
  background: #888888;
}

.list-item__right > div {
  width: 100%;
  height: 100%;
  border: 0.3px solid #888888;
  background-image: repeating-linear-gradient(135deg, #DCF0FB, #b2dff1 15%, #DCF0FB 35%);
}
.list-item__right > div::after {
  content: "";
  display: block;
  position: absolute;
  width: 4.5px;
  bottom: 1.5px;
  right: -0.8px;
  transform: rotateZ(45deg);
  height: 0.3px;
  background: #888888;
}
.list-item__right > div::before {
  content: "";
  display: block;
  position: absolute;
  width: 4.5px;
  bottom: 1.4px;
  left: -0.8px;
  transform: rotateZ(-45deg);
  height: 0.3px;
  background: #888888;
}

.list-item__middle31 {
  transform: rotate(180deg);
  position: relative;
  top: -2px;
  width: 81px;
  height: 264px;
  border: 0.3px solid #888888;
  padding: 6px;
}
.list-item__middle31::after {
  content: "";
  display: block;
  position: absolute;
  width: 14px;
  top: 4.5px;
  left: -2px;
  transform: rotateZ(45deg);
  height: 0.3px;
  background: #888888;
}
.list-item__middle31::before {
  content: "";
  display: block;
  position: absolute;
  width: 14px;
  top: 4.5px;
  right: -2px;
  transform: rotateZ(-45deg);
  height: 0.3px;
  background: #888888;
}
.list-item__middle31 .list-item__center {
  width: 100%;
  height: 100%;
  border: 0.3px solid #888888;
  padding: 3px;
}
.list-item__middle31 .list-item__center::after {
  content: "";
  display: block;
  position: absolute;
  width: 14px;
  bottom: 4.7px;
  left: -2px;
  transform: rotateZ(-45deg);
  height: 0.3px;
  background: #888888;
}
.list-item__middle31 .list-item__center::before {
  content: "";
  display: block;
  position: absolute;
  width: 14px;
  bottom: 4.7px;
  right: -2px;
  transform: rotateZ(45deg);
  height: 0.3px;
  background: #888888;
}

.list-item__center > div {
  width: 100%;
  height: 100%;
  border: 0.3px solid #888888;
  background-image: repeating-linear-gradient(135deg, #DCF0FB, #b2dff1 15%, #DCF0FB 35%);
}
.list-item__center > div::after {
  content: "";
  display: block;
  position: absolute;
  width: 3px;
  height: 7px;
  bottom: 20%;
  left: -2px;
  border-radius: 0.5px;
  background: #888888;
}
.list-item__center > div::before {
  content: "";
  display: block;
  position: absolute;
  width: 3px;
  height: 7px;
  bottom: 17%;
  left: -2px;
  border-radius: 0.5px;
  background: #888888;
}

.list-item__detail31 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0px;
  display: inline-block;
  width: 5px;
  height: 15px;
  border-radius: 1px;
  background: #888888;
}
.list-item__detail31::after {
  content: "";
  display: block;
  position: absolute;
  width: 2.5px;
  height: 11px;
  background: #888888;
  left: 50%;
  border-radius: 2px;
  transform: translateX(-50%);
  top: -10px;
}

.list-item__center > span::after {
  content: "";
  display: block;
  position: absolute;
  width: 3px;
  height: 7px;
  top: 17%;
  left: -2px;
  border-radius: 0.5px;
  background: #888888;
}
.list-item__center > span::before {
  content: "";
  display: block;
  position: absolute;
  width: 3px;
  height: 7px;
  top: 20%;
  left: -2px;
  border-radius: 0.5px;
  background: #888888;
}

.win__box3 {
  position: relative;
  margin: 0 auto;
  width: 254px;
  height: 271px;
  padding: 4px;
  border: 0.3px solid #888888;
  background: #fff;
  background-size: 500px;
}
.win__box3::after {
  content: "";
  display: block;
  position: absolute;
  width: 6px;
  top: 2px;
  left: -1px;
  transform: rotateZ(45deg);
  height: 0.3px;
  background: #888888;
}
.win__box3::before {
  content: "";
  display: block;
  position: absolute;
  width: 6px;
  top: 2px;
  right: -1px;
  transform: rotateZ(-45deg);
  height: 0.3px;
  background: #888888;
}
.win__box3 .list__box {
  position: relative;
  width: 100%;
  height: 100%;
  border: 0.3px solid #888888;
  display: flex;
  justify-content: space-between;
}
.win__box3 .list__box::after {
  content: "";
  display: block;
  position: absolute;
  width: 6px;
  bottom: -2px;
  left: -5px;
  transform: rotateZ(-45deg);
  height: 0.3px;
  background: #888888;
}
.win__box3 .list__box::before {
  content: "";
  display: block;
  position: absolute;
  width: 6px;
  bottom: -2px;
  right: -5px;
  transform: rotateZ(45deg);
  height: 0.3px;
  background: #888888;
}

.list-item__left {
  position: relative;
  width: 77px;
  padding: 3px;
  border: 0.3px solid #888888;
  border-left: none;
  border-bottom: none;
  border-top: none;
}
.list-item__left::after {
  content: "";
  display: block;
  position: absolute;
  width: 4.5px;
  top: 1.7px;
  right: -0.5px;
  transform: rotateZ(-45deg);
  height: 0.3px;
  background: #888888;
}
.list-item__left::before {
  content: "";
  display: block;
  position: absolute;
  width: 4.5px;
  top: 1.4px;
  left: -0.5px;
  transform: rotateZ(45deg);
  height: 0.3px;
  background: #888888;
}

.list-item__left > div {
  width: 100%;
  height: 100%;
  border: 0.3px solid #888888;
  background-image: repeating-linear-gradient(135deg, #DCF0FB, #b2dff1 15%, #DCF0FB 35%);
}
.list-item__left > div::after {
  content: "";
  display: block;
  position: absolute;
  width: 4.5px;
  bottom: 1.5px;
  right: -0.8px;
  transform: rotateZ(45deg);
  height: 0.3px;
  background: #888888;
}
.list-item__left > div::before {
  content: "";
  display: block;
  position: absolute;
  width: 4.5px;
  bottom: 1.4px;
  left: -0.8px;
  transform: rotateZ(-45deg);
  height: 0.3px;
  background: #888888;
}

.list-item__right {
  position: relative;
  width: 77px;
  padding: 3px;
  border: 0.3px solid #888888;
  border-right: none;
  border-top: none;
  border-bottom: none;
}
.list-item__right::after {
  content: "";
  display: block;
  position: absolute;
  width: 4.5px;
  top: 1.7px;
  right: -0.5px;
  transform: rotateZ(-45deg);
  height: 0.3px;
  background: #888888;
}
.list-item__right::before {
  content: "";
  display: block;
  position: absolute;
  width: 4.5px;
  top: 1.4px;
  left: -0.5px;
  transform: rotateZ(45deg);
  height: 0.3px;
  background: #888888;
}

.list-item__right > div {
  width: 100%;
  height: 100%;
  border: 0.3px solid #888888;
  background-image: repeating-linear-gradient(135deg, #DCF0FB, #b2dff1 15%, #DCF0FB 35%);
}
.list-item__right > div::after {
  content: "";
  display: block;
  position: absolute;
  width: 4.5px;
  bottom: 1.5px;
  right: -0.8px;
  transform: rotateZ(45deg);
  height: 0.3px;
  background: #888888;
}
.list-item__right > div::before {
  content: "";
  display: block;
  position: absolute;
  width: 4.5px;
  bottom: 1.4px;
  left: -0.8px;
  transform: rotateZ(-45deg);
  height: 0.3px;
  background: #888888;
}

.list-item__middle3 {
  position: relative;
  top: -2px;
  width: 81px;
  height: 264px;
  border: 0.3px solid #888888;
  padding: 6px;
}
.list-item__middle3::after {
  content: "";
  display: block;
  position: absolute;
  width: 14px;
  top: 4.5px;
  left: -2px;
  transform: rotateZ(45deg);
  height: 0.3px;
  background: #888888;
}
.list-item__middle3::before {
  content: "";
  display: block;
  position: absolute;
  width: 14px;
  top: 4.5px;
  right: -2px;
  transform: rotateZ(-45deg);
  height: 0.3px;
  background: #888888;
}
.list-item__middle3 .list-item__center {
  width: 100%;
  height: 100%;
  border: 0.3px solid #888888;
  padding: 3px;
}
.list-item__middle3 .list-item__center::after {
  content: "";
  display: block;
  position: absolute;
  width: 14px;
  bottom: 4.7px;
  left: -2px;
  transform: rotateZ(-45deg);
  height: 0.3px;
  background: #888888;
}
.list-item__middle3 .list-item__center::before {
  content: "";
  display: block;
  position: absolute;
  width: 14px;
  bottom: 4.7px;
  right: -2px;
  transform: rotateZ(45deg);
  height: 0.3px;
  background: #888888;
}

.list-item__center > div {
  width: 100%;
  height: 100%;
  border: 0.3px solid #888888;
  background-image: repeating-linear-gradient(135deg, #DCF0FB, #b2dff1 15%, #DCF0FB 35%);
}
.list-item__center > div::after {
  content: "";
  display: block;
  position: absolute;
  width: 3px;
  height: 7px;
  bottom: 20%;
  left: -2px;
  border-radius: 0.5px;
  background: #888888;
}
.list-item__center > div::before {
  content: "";
  display: block;
  position: absolute;
  width: 3px;
  height: 7px;
  bottom: 17%;
  left: -2px;
  border-radius: 0.5px;
  background: #888888;
}

.list-item__detail3 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0px;
  display: inline-block;
  width: 5px;
  height: 15px;
  border-radius: 1px;
  background: #888888;
}
.list-item__detail3::after {
  content: "";
  display: block;
  position: absolute;
  width: 2.5px;
  height: 11px;
  background: #888888;
  left: 50%;
  border-radius: 2px;
  transform: translateX(-50%);
  top: 10px;
}

.list-item__center > span::after {
  content: "";
  display: block;
  position: absolute;
  width: 3px;
  height: 7px;
  top: 17%;
  left: -2px;
  border-radius: 0.5px;
  background: #888888;
}
.list-item__center > span::before {
  content: "";
  display: block;
  position: absolute;
  width: 3px;
  height: 7px;
  top: 20%;
  left: -2px;
  border-radius: 0.5px;
  background: #888888;
}

.list-item__middle32 {
  position: relative;
  width: 77px;
  padding: 3px;
  border: 0.3px solid #888888;
  border-bottom: none;
  border-top: none;
}
.list-item__middle32::after {
  content: "";
  display: block;
  position: absolute;
  width: 4.5px;
  top: 1.7px;
  right: -0.5px;
  transform: rotateZ(-45deg);
  height: 0.3px;
  background: #888888;
}
.list-item__middle32::before {
  content: "";
  display: block;
  position: absolute;
  width: 4.5px;
  top: 1.4px;
  left: -0.5px;
  transform: rotateZ(45deg);
  height: 0.3px;
  background: #888888;
}

.list-item__middle32 > div {
  width: 100%;
  height: 100%;
  border: 0.3px solid #888888;
  background-image: repeating-linear-gradient(135deg, #DCF0FB, #b2dff1 15%, #DCF0FB 35%);
}
.list-item__middle32 > div::after {
  content: "";
  display: block;
  position: absolute;
  width: 4.5px;
  bottom: 1.5px;
  right: -0.8px;
  transform: rotateZ(45deg);
  height: 0.3px;
  background: #888888;
}
.list-item__middle32 > div::before {
  content: "";
  display: block;
  position: absolute;
  width: 4.5px;
  bottom: 1.4px;
  left: -0.8px;
  transform: rotateZ(-45deg);
  height: 0.3px;
  background: #888888;
}

.list-item__left32 {
  position: relative;
  width: 80px;
  border: 0.3px solid #888888;
  padding: 6px;
  border-top: 0;
  border-bottom: 0;
  border-left: 0;
}
.list-item__left32::after {
  content: "";
  display: block;
  position: absolute;
  width: 14px;
  top: 4.5px;
  left: -2px;
  transform: rotateZ(45deg);
  height: 0.3px;
  background: #888888;
}
.list-item__left32::before {
  content: "";
  display: block;
  position: absolute;
  width: 14px;
  top: 4.5px;
  right: -2px;
  transform: rotateZ(-45deg);
  height: 0.3px;
  background: #888888;
}
.list-item__left32 .list-item__center32 {
  width: 100%;
  height: 100%;
  border: 0.3px solid #888888;
  padding: 3px;
}
.list-item__left32 .list-item__center32::after {
  content: "";
  display: block;
  position: absolute;
  width: 14px;
  bottom: 4.7px;
  left: -2px;
  transform: rotateZ(-45deg);
  height: 0.3px;
  background: #888888;
}
.list-item__left32 .list-item__center32::before {
  content: "";
  display: block;
  position: absolute;
  width: 14px;
  bottom: 4.7px;
  right: -2px;
  transform: rotateZ(45deg);
  height: 0.3px;
  background: #888888;
}
.list-item__left32 .list-item__center32 > div {
  width: 100%;
  height: 100%;
  border: 0.3px solid #888888;
  background-image: repeating-linear-gradient(135deg, #DCF0FB, #b2dff1 15%, #DCF0FB 35%);
}
.list-item__left32 .list-item__center32 > div::after {
  content: "";
  display: block;
  position: absolute;
  width: 3px;
  height: 7px;
  bottom: 20%;
  left: -2px;
  border-radius: 0.5px;
  background: #888888;
}
.list-item__left32 .list-item__center32 > div::before {
  content: "";
  display: block;
  position: absolute;
  width: 3px;
  height: 7px;
  bottom: 17%;
  left: -2px;
  border-radius: 0.5px;
  background: #888888;
}
.list-item__left32 .list-item__detail32 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0px;
  display: inline-block;
  width: 5px;
  height: 15px;
  border-radius: 1px;
  background: #888888;
}
.list-item__left32 .list-item__detail32::after {
  content: "";
  display: block;
  position: absolute;
  width: 2.5px;
  height: 11px;
  background: #888888;
  left: 50%;
  border-radius: 2px;
  transform: translateX(-50%);
  top: 10px;
}
.list-item__left32 .list-item__center32 > span::after {
  content: "";
  display: block;
  position: absolute;
  width: 3px;
  height: 7px;
  top: 17%;
  left: -2px;
  border-radius: 0.5px;
  background: #888888;
}
.list-item__left32 .list-item__center32 > span::before {
  content: "";
  display: block;
  position: absolute;
  width: 3px;
  height: 7px;
  top: 20%;
  left: -2px;
  border-radius: 0.5px;
  background: #888888;
}

.list-item__right32 {
  position: relative;
  width: 80px;
  border: 0.3px solid #888888;
  padding: 6px;
  border-bottom: 0;
  border-top: 0;
  border-right: 0;
}
.list-item__right32::after {
  content: "";
  display: block;
  position: absolute;
  width: 14px;
  top: 4.5px;
  left: -2px;
  transform: rotateZ(45deg);
  height: 0.3px;
  background: #888888;
}
.list-item__right32::before {
  content: "";
  display: block;
  position: absolute;
  width: 14px;
  top: 4.5px;
  right: -2px;
  transform: rotateZ(-45deg);
  height: 0.3px;
  background: #888888;
}
.list-item__right32 .list-item__center32 {
  width: 100%;
  height: 100%;
  border: 0.3px solid #888888;
  padding: 3px;
}
.list-item__right32 .list-item__center32::after {
  content: "";
  display: block;
  position: absolute;
  width: 14px;
  bottom: 4.7px;
  left: -2px;
  transform: rotateZ(-45deg);
  height: 0.3px;
  background: #888888;
}
.list-item__right32 .list-item__center32::before {
  content: "";
  display: block;
  position: absolute;
  width: 14px;
  bottom: 4.7px;
  right: -2px;
  transform: rotateZ(45deg);
  height: 0.3px;
  background: #888888;
}
.list-item__right32 .list-item__center32 > div {
  width: 100%;
  height: 100%;
  border: 0.3px solid #888888;
  background-image: repeating-linear-gradient(135deg, #DCF0FB, #b2dff1 15%, #DCF0FB 35%);
}
.list-item__right32 .list-item__center32 > div::after {
  content: "";
  display: block;
  position: absolute;
  width: 3px;
  height: 7px;
  bottom: 20%;
  right: -2px;
  border-radius: 0.5px;
  background: #888888;
}
.list-item__right32 .list-item__center32 > div::before {
  content: "";
  display: block;
  position: absolute;
  width: 3px;
  height: 7px;
  bottom: 17%;
  right: -2px;
  border-radius: 0.5px;
  background: #888888;
}
.list-item__right32 .list-item__detail32 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0px;
  display: inline-block;
  width: 5px;
  height: 15px;
  border-radius: 1px;
  background: #888888;
}
.list-item__right32 .list-item__detail32::after {
  content: "";
  display: block;
  position: absolute;
  width: 2.5px;
  height: 11px;
  background: #888888;
  left: 50%;
  border-radius: 2px;
  transform: translateX(-50%);
  top: 10px;
}
.list-item__right32 .list-item__center32 > span::after {
  content: "";
  display: block;
  position: absolute;
  width: 3px;
  height: 7px;
  top: 17%;
  right: -2px;
  border-radius: 0.5px;
  background: #888888;
}
.list-item__right32 .list-item__center32 > span::before {
  content: "";
  display: block;
  position: absolute;
  width: 3px;
  height: 7px;
  top: 20%;
  right: -2px;
  border-radius: 0.5px;
  background: #888888;
}/*# sourceMappingURL=Cat2.css.map */