* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: #181d26;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  vertical-align: middle;
  object-fit: cover;
}
